{% case page.layout %}
{% when "post" %}
 {% assign subtitle = "/blog" %}
{% when "page" %}
 {% assign subtitle = {{page.title || downcase | replace: " ", "-" | prepend: "/"}} %}
{% else %}
{% endcase %}

<header class="nav content" id="top">
  <div class="info">
  {% if page.layout == "home" %}
  <h1 class="title">~/{{ site.title }}</h1>
  <!-- {% include toggle.html %} -->
  {% else %}
  <h2 class="title">~/{{ site.title }}{% if page.title %}{{subtitle}}{% endif %}</h2>
  <!-- {% include toggle.html %} -->
  {% endif %}

  </div>

  {% if site.theme_config.show_description %}
    {% if page.layout == "home"%}
    <p class="desc">{{ site.description }}</p>
    {% endif %}
  {% endif %}
  <div class="links">
    {% if page.layout != "home" %}
    {% include back_link.html %}
    {% endif %}
  </div>
</header>

